.modal__conatainer {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  scale: 0;
  opacity: 0;
  top: 0px;
  left: 0px;
  transition: all 0.5s ease-out;
  z-index: 1;
}
.modal__conatainer.active {
  display: flex;
  scale: 1;
  opacity: 1;
}
.modal__conatainer.loaded {
  pointer-events: all;
}

@media (max-width: 720px) {
  .modal__conatainer {
    width: auto;
    scale: 1;
    opacity: 1;
    display: flex;
    justify-content: flex-start;
    transform: translate(-235px);
  }
  .modal__conatainer.active {
    transform: translate(-10px);
  }
}
