.information__container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 80%;
  max-width: 600px;
  gap: 20px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}
.information__header {
}
.header__logo {
}
.header__title {
  text-align: center;
  font-size: 18px;
}
.information__text {
}

.cross.active {
  transform: rotate(0deg);
}
@media (max-width: 720px) {
  .information__container {
    max-width: 340px;
  }
}
