.modal__conatainer {
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
  top: 130px;
  left: 50px;
}
.modal__conatainer.active {
  display: flex;
}
.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  gap: 15px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
